body {
    background-color: lightblue;
}

.date-container {
    text-align: center;
    padding: 5px;
}

h1 {
    text-align: center;
}

.refer {
    text-align: center;
    font-size: 0.8em;
    padding: 15px;
}